#pai{
    display: flex;
    background-color: beige;
    max-width: 600px;
    height: 300px;
    justify-content:space-around;
    align-items: center;
}
#pt1{
    background-color: aquamarine;
    width: 100px;
    height: 100px; 
    padding: 5px; 
     
}
#pt2{
    background-color: rgb(231, 12, 12);
    width: 100px;
    height: 100px; 
    padding: 5px;   
  
}
#pt3{
    background-color: rgb(224, 231, 12);
    width: 100px;
    height: 100px; 
    padding: 5px; 
      
}
#pai2{
    display: flex;
    background-color: beige;
    max-width: 600px;
    height: 300px;
    justify-content:space-around;
    align-items: center;
}
.item{
    width: 100px;
    height: 100px; 
    padding: 5px;
    border: solid red; 
    flex: 1 1 30px;
}
#box1{
    flex-grow: .5;
}