body{
    background-color: rgb(255, 255, 255);
}
h1.titulo{
    text-align: center;
}
main{
    background-color: rgb(255, 255, 255);
}
div{
    background-color: rgb(240, 240, 240);
}
div.rodape{
    background-color: beige;
}