@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
   
:root{
    --primario: #EB1CCC;
    --secundaria: #95989A;
    --texto-cor: white;
    --texto-secudario: black;
    --texto-terciaria:#5D5D5D;
}body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*formularios de eventos*/
#descricao-evento{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("img/hrz-5.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--texto-cor);
}
#disclaimer h2, .data-projeto{
    color: var(--primario);
}
#disclaimer h2{
     font-size: 3em;
     margin-bottom: 1em;
}
#disclaimer .sobre-projeto{
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}
#disclaimer p{
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
#form-inscrever{
    background-color: var(--secundaria);
    padding: .6em;
    max-width: 22%;
}
#form-inscrever p{
    font-size: 1.5em;
    color: var(--texto-secudario);
    margin-bottom: .1em;
}
.grupo-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;
}
.grupo-form label{
    color: var(--texto-terciaria);
    margin-bottom: .5em;
    font-weight: bold;
}
.grupo-form input, .grupo-form select{
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
}
.botao{
    background-color: var(--primario);
    color: var(--texto-cor);
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    opacity: .8;
    border: none;
}
.botao:hover{
    opacity: 1;
}
